<div layout="column" layout-align="start space-around" layout-margin layout-padding>
  <md-content class="md-padding">
    <h1>GitHub Badge Generator</h1>

    <md-whiteframe class="badges-settings md-whiteframe-z1" layout="column" layout-margin layout-padding>
      <form name="badgesForm">

        <md-input-container flex>
          <label>Repository</label>
          <input ng-model="data.repository" name="repository" required>
        </md-input-container>
        <div ng-messages="badgesForm.rate.$error">
        </div>

        <div layout="row">

          <md-radio-group flex="75">
            <label>Services</label>
            <div class="badges-services" layout="row" layout-wrap>
              <md-checkbox ng-repeat="s in data.services" ng-model="s.selected" aria-label="{{s.service.name}}">
                {{s.service.name}}
              </md-checkbox>
            </div>
          </md-radio-group>

          <md-radio-group ng-model="data.style" flex="25">
            <label>Style</label>
            <md-radio-button value="default">Default</md-radio-button>
            <md-radio-button value="plastic">Plastic</md-radio-button>
            <md-radio-button value="flat-square">Flat Square</md-radio-button>
            <md-radio-button value="for-the-badge">For the badge!</md-radio-button>
            <md-radio-button value="social">Social</md-radio-button>
          </md-radio-group>

        </div>

      </form>
    </md-whiteframe>

    <md-whiteframe class="badges-result md-whiteframe-z1" layout="column" layout-margin layout-padding ng-if="data.repository">

      <h4>Preview</h4>
      <p class="badges-preview">
        <a ng-repeat="s in getSelectedServices()" ng-href="{{ s.getUrl() }}" class="badges-badge">
          <img ng-src="{{ s.getImageUrl(data.style, true) }}"/>
        </a>
      </p>

      <md-input-container>
        <label>Source</label>
        <md-select ng-model="data.format">
          <md-option ng-value="f" ng-repeat="f in formats">{{ f.name }}</md-option>
        </md-select>
      </md-input-container>
      <pre class="badges-source">{{ getSource() }}</pre>

    </md-whiteframe>
  </md-content>
</div>
