/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  background: #f2f2f2;
  margin: 0;
  padding: 1px 0;
}

md-content {
  background: transparent;
}

md-whiteframe,
.md-select-menu-container {
  background: white;
}

.badges-badge {
  display: inline-block;
  margin-right: 0.3em;
}

label {
  font-weight: bold;
}

.badges-source {
  overflow-x: auto;
  overflow-y: visible;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
