@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

.badges-badge {
  display: inline-block;
  margin-right: 0.3em;
}

label {
  font-weight: bold;
}

// .badges-preview,
// .badges-source {
//   width: 1px;
//   min-width: 100%;
// }

.badges-source {
  overflow-x: auto;
  overflow-y: visible;
}
